$--white-color: #fff;
$--font-color: #fff;
$--black-color: #000;
$--button-color: #FC4747;
$--border-color: #5A698F;
$--successfully-color: #046f3d;
$--section-bg-color: #161D2F;
$--container-bg-color: #10141E;

